<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="html_table" content="I am making an HTML Table">
        <title>HTML Table</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in x %}
                        <tr>
                            <td>{{i['first_name']}}</td>
                            <td>{{i['last_name']}}</td>
                            <td>{{i['first_name'] + ' ' + i['last_name']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>